


/* body*/
body{
    background-color: var(--grey);
}
:root
{   
    --white: #fff;
    --grey: #ecebeb;
    --black1: #222;
    --black4: rgb(19, 19, 19);
    --black2: #999;
    --black3: rgb(240, 240, 240);
    --Vermelho: rgb(168, 8, 40);
    --vermelho2: #F9004D;
    --dourado: #ecec50 ;
    /* nota usar cores preto,cinza,uma cor quase vinho,*/
}

.carroe{
    width: 100%;
    height: 120vh;
    background-image: url(../img/fundo-topico.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}
.container span{
    text-transform: uppercase;
    display: block;
}
.text1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 10px;
    
    position: relative;
    animation: text 3s 1;
    height: 35px;
}
.text2{
    animation: text 3s 1;   
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    background: -webkit-linear-gradient(#f2f2d5, #ecec50);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes text{
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}



.body-main{
    margin-top: -50px;
    background-color: var(--white);
    box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
    height: auto;
    margin-left: 10vw;
    margin-right: 10vw;
    
}
.top-body-main{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    padding: 10px 50px;
    border-bottom: 2px dotted var(--black2);
}
.top-body-main > p{
    
    font-size: 30px;
}
.top-body-main > a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #111;
    color: #111;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    
    
}
.top-body-main > a::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scaleY(1);
    transition-delay: 0.5s;
}
.top-body-main > a:hover::before{
    transform: scaleY(0);
}

.top-body-main > a::after{
    content: '';
    position: absolute;
    left: 6px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: #fff;
    transition: 0.5s ease-in-out;
    transform: scalex(1);
}
.top-body-main > a:hover::after{
    transform: scalex(0);
}

.top-body-main a{
    position: relative;
    z-index: 3;
}
.top-body-main span{
    position: relative;
    z-index: 3;
}

.hr{
    width: 90px;
    border: #287bff solid 20px;
}

.corpo-meio{
    height: 90vh;
    width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222;
}

/* Suites em destaques */
#destaques{
    margin: 20px;
}
.cards-destaques{
    flex-direction: row;
    display: flex;
    margin: 5px;
    justify-content: space-around;
}
.cards-destaques a{
margin: 5px;
}
.suite1{
    width: 300px;
    height: 300px;
    background: var(--vermelho2);
    background: url(imgs-suites/suite\ 1.jpg);
    background-size: cover;
    box-shadow: 2px 5px 5px var(--black2);

}
.suite2{
    width: 300px;
    height: 300px;
    background: var(--vermelho2);
    background: url(imgs-suites/suite\ 2.jpg);
    background-size: cover;
    box-shadow: 2px 5px 5px var(--black2);
}
.suite3{
    width: 300px;
    height: 300px;
    background: var(--vermelho2);
    background: url(imgs-suites/suite\ 3.jpg);
    background-size: cover;
    box-shadow: 2px 5px 5px var(--black2);
}
.card-index{
    padding: 38% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.suite-tag{
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    text-transform: uppercase;
    font-size: 0.7
    em;
    letter-spacing: 2px;
    text-align: center;   
}
/* o motel */
.oMotel{
    background-color: var(--dourado);
    height: 500px;
}
.container-omotel-itens{
    margin: 40px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.destaqueMotel-itens{
    width: 60%;
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}
.destaquemotel-itens-photo{
 width: 40%;
 height: 350px;
 background-color: #F9004D;   
}
#itensphoto{
    background: url(imgs-suites/suite\ 2.jpg) no-repeat;
    background-size: cover;
}
.container-controler-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 625px;

}
.container-itens{
    width: 125px;
    padding: 25px 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 140px;
}















/* .cards{
    height: 100%;
    float: left ;
    justify-content: space-between;
    align-items: center;
    background-color: #287bff;
}
.corpo-card{
    width: 280px;
    height: 300px;
    float: left;
    display: flex;
    margin: 5px;
}
#corpod1{
    flex-direction: column;
    display: flex;
}
#corpod2{
    flex-direction: column;
    display: flex;
}
#corpod3{
    flex-direction: column;
    display: flex;
}
#corpod4{
    flex-direction: column;
    display: flex;
}
#corpod5{
    flex-direction: column;
    display: flex;
}
#corpod6{
    flex-direction: column;
    display: flex;
}
.corpo-card img{
    height:70%;
    width: 100%;
}
.corpo-card a{
    margin-top: 10px;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: var(--amarelo2);
    
    width: 128px;
    
}
.corpo-card a:hover{
    text-decoration: underline;
    
}
.corpo-card label{
    color: #999;
    margin-top: 6px;
    font-size: 14px;
    font-family: "Barlow", sans-serif;
}
.diva{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: auto;
} */
