@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@300&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}
:root
{   
    --white: rgb(255, 255, 255);
    --grey: #ecebeb;
    --black1: #222;
    --black4: rgb(19, 19, 19);
    --black2: #999;
    --black3: rgb(218, 218, 218);
    --Vermelho: rgb(168, 8, 40);
    --amarelo: #ecec50;
    --amarelo2: #a8a838;
    --azul: 	#4169E1;
    --azul2: 	#264191;
    
}
.container {
  width: 80%;
  display: flex;
  
  
}

.agora {
  font-weight: 800;
}

/* BANNER */

.banner {
  height: fit-content;
  padding: 40px 0;
  color: white;
  
  background-size: cover;
}

.banner .container {
  height: 400px;
  
  justify-content: center;
  align-items: center;
}

.tamanho-conteudo { 
  height: fit-content !important;
}

.banner p {
  width: 50%;
  margin: 0;
  padding: 0;
  width: 280px;
  font-size: 36px;
}

.banner .container span {
  font-weight: 800;
}

/* missao visao valores */

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container{
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
}

.social p {
  text-align: center;
}

.box {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.box {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* LOGIN */


button {
  cursor: pointer;
}

/* FORMULARIO */

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #e6005a 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
  
}

.formulario {
  display: flex;
  flex-direction: column;
  width:100%;
}

form{
  width: 910px;
  padding: 2%;
  
  height: 340px;
  border-radius: 5px;
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  margin-left: 20%;
}
.form-separacao{
  height: 490;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.form-separacao1{
  height: 490;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.form2{
  width: 410px;
  padding: 2%;
  height: 290px;
  margin-top: -40px;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 25%;
 color: var(--black1);
 
}
.labell{
  margin-left: 120px;
}
.form2 a{
  justify-content: flex-end;
  
  
}
.labell2{
  color: var(--black1);
  margin-left: 62px;
}
.aa{
  color: var(--amarelo);
}
.aa1{
  color: var(--amarelo);
}

.single-input{
  position: relative;
  margin: 30px 0;
}
.single-input label{
  position: absolute;
  bottom: 5px;
  left: 0;
  color: var(--black1);
  cursor: text;
  transition: 0.5s ease-in-out;
}

.input{
  width: 100%;
  padding: 10px;
  border: 0;
  background-color: transparent;
  border-bottom: 2px solid var(--black1);
  outline: 0;
  font-size: 16px;
  color: var(--black1);
  transition: 0.5s ease-in-out;
  
}

.input:focus,
.input:valid{
  border-bottom: 2px solid var(--black2);
}
.input:focus ~ label,
.input:valid ~ label{
  transform: translateY(-30px);
  font-size: 12px;
  color: var(--black2);
}


.btn {
  
  font-family: "Barlow", sans-serif;
  border:none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: var(--grey);
  background-color: var(--black1);
  width: 95%;
  align-self: center;
  margin-top: 28px;
  box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
  transition: 0.5s ease-in-out;
}
.btn:hover{
  background-color: var(--amarelo);
  color: var(--black1);
  
}
.btn:active{
  
  background-color: var(--amarelo2);
  transition: none ;
}

.img-fundo{
  margin: 0;
  width: 100%;
  height: 88vh;
  background-image: url(regis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.blacks{
  background-color: #161618;
  position: absolute;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* PAGINA DOS GRÁFICOS */

.janela {
  display: flex;
  width: 100vw;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid #32b9cd;
  background-color: #212124;
  /* border: 3px solid pink; */
}

.dash-right {
  display: flex;
  width: 75%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
}



.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: #e3b062;
  font-weight: 300;
  font-size: 1.2rem;
}

.hello h3 span {
  font-weight: 800;
}

.btn-nav {
  width: 40%;
  color: white;
  background-color: #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white {
  width: 40%;
  background-color: white;
  border: 3px solid #e6005a;
  border-radius: 5px;
  text-align: center;
  padding: 2% 5%;
}

.btn-nav-white h3 {
  color: #e6005a;
  padding: 0;
  margin: 0;
}

.btn-nav h3,
.btn-logout h3 {
  margin: 0;
  padding: 0;
}

.btn-logout {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #32b9cd;
  color: white;
  border-radius: 10px;
  text-align: center;
  padding: 10px 15px;
  margin-bottom: 100px;
  cursor: pointer;
}

/* pagina extra - simulador */
.simulador {
  color: white;

}

.simulador .container {
  flex-direction: column
}

/* .fundo-login{
  background-image: url(fundo-login.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 87.5vh;
} */